<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>create a new vampire</h1>

  <form action="/vampires" method="POST">
    Name: <input type="text" name="name"><br/>
    Hair Color: <input type="text" name="hair_color"><br/>
    Eye Color: <input type="text" name="eye_color"><br/>
    DOB: <input type="date" name="dob" value="DOB"><br/>
    Loves: <input type="text" name="loves" value="loves"><br/>
    Gender: <input type="text" name="gender" value="m or f"><br/>
    Victims: <input type="text" name="victims" value="num of victims"><br/>
    <input type="submit">
  </form>


</body>
</html>
